h1 {
    color: aqua;
    text-align: center;
    font-style: italic;
}

h2 {
    color: aqua;
    text-align: center;
    font-style: italic;
}

h3 {
    color: aqua;
    text-align: center;
    font-style: italic;
}

body {
    background-color: black;
    background: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?semt=ais_hybrid');
    background-size: cover;
}